/* #1 import */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean');

/* #2 char */
$color01 : #ACACAC; 
$color02 : #666666; 
$color03 : #6292FF; 
$color04 : #3872F4;
$color05 : #FE8464;
$color06 : #02AB1D; 
$color07 : #FEBA2A; 
$color08 : #d4d4d4; 


$color-base    : #fff;
$color-base2   : #f9f9f9;
$color-frame   : #273c4d;
$color-out     : #000;
$color-mask    : rgba(0,0,0,0.8);
$color-mask2   : rgba(255,255,255,0.8);
$color-border01  : #d9d9d9;

$color-theme01 : #7C54FF;
$color-theme02 : #4D52E8; 
$color-theme03 : #6292FF;
$color-theme04 : #4DA4E8; 
$color-theme05 : #54E1FF;

$color-font01 : #000;
$color-font02 : #333;
$color-font03 : #555;
$color-font04 : #777;
$color-font05 : #aaa;
$color-font06 : #fff;

$color-complementary01 : #FFEE47;
$color-complementary02 : #9C8114; 
$color-complementary03 : #B38720;
$color-complementary04 : #9C6614; 
$color-complementary05 : #FFB87A;

   

$breakpoint-mobile-sm : 320px;
$breakpoint-mobile    : 330px;
$breakpoint-mobile-md : 375px;
$breakpoint-mobile-lz : 568px;
$breakpoint-tablet-vt : 768px; 
$breakpoint-tablet-hz : 1024px;
$breakpoint-desktop   : 1024px;

$set-ht   : 28px;
$set-ht-b : 26px;

$in-h     : 28px;
$in-ho    : 30px;

/* #3 maxin */
@mixin xs{
    @media (max-width: 599px) {
        @content;
    }
}

@mixin sm {
    @media (min-width:600px) and (max-width: 959) {
        @content;
    }
}

@mixin md {
    @media (min-width:960px) and (max-width: 1263) {
        @content;
    }
}


@mixin lg {
    @media (min-width:1264px) and (max-width: 1903) {
        @content;
    }
}


@mixin xl {
    @media (min-width:1904px) {
        @content;
    }
}



@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@mixin U_gd_ft($color1,$color2) {
    background: linear-gradient(40deg, $color1,$color2) !important;
    -webkit-background-clip: text !important;
    color: transparent;
}

@mixin user-font-maker01($font-size) {
    @each $size in $font-size {
        $i: index($font-size, $size);
        @if ($i==0){
            font-size:$size;
        } @else if($i==1){
            @include xl{
                font-size:$size;
            }
        } @else if($i==2){
            @include lg{
                font-size:$size;
            }
        } @else if($i==3){
            @include md{
                font-size:$size;
            }
        } @else if($i==4){
            @include sm{
                font-size:$size;
            }
        } @else if($i==5){
            @include xs{
                font-size:$size;
            }
        }
    }
}


@mixin common_setting() {
    &ds_{
        &none{display: none;}
        &block{display:block}
        &inline{display: inline-block;}
        &line{display:inline}
    }

    &fl_{
        &none{float:none}
        &lt{float:left}
        &rt{float:right}
    }    

    &ov_{
        &hd{overflow: hidden;}
        &at{overflow: auto;}
    }
    
}

/* #4 common */
body,html  {
    background: $color-base2;
    $body-ft : 15px,14px,14px,12px,12px,11px;
    font-family:'Noto Sans KR', 'Spoqa Han Sans' !important;    
    @include user-font-maker01($body-ft);
}


.U_{

    &ft_{
        &fm01{font-family: 'Noto Sans KR'!important;}
        &fm02{font-family: 'Spoqa Han Sans'!important}

        &sz01{font-size:2.0rem} /* lz-ex */
        &sz02{font-size:1.7rem} /* lz */
        &sz03{font-size:1.3rem} /* md-lz */
        &sz04{font-size:1.1rem} /* md */
        &sz05{font-size:1.0rem} /* md-sm */
        &sz06{font-size:0.9rem} /* sm */
        &sz07{font-size:0.8rem} /* sm-ex */
        &sz08{font-size:0.7rem} /* sm-ex */
        &sz09{font-size:0.6rem} /* sm-ex */

        &lt{text-align: left;}
        &rt{text-align: right;}
        &ct{text-align: center;}
    }

    &btn{
        &01{
            background:$color-base2; /*임시 컬러*/
            width:100%;
            padding:15px 0;
            border-radius: 1000px;
            font-weight: 700;
            line-height: 1;
            background-color: $color-base2;
        }
        &02{
            padding:13px 0;
            @extend .U_btn01;
            border: 1px solid #000;
            background-color: $color-base2;
        }
        
        &03{
            border-radius: 0!important;
            box-shadow:  0 0 0 0 !important;
            box-sizing: border-box;
            border:1px solid $color-border01;
            background-color: $color-base2;
            vertical-align: top;
        }

        &04{
            width:30px;
            height:$in-ho;
            line-height:$in-h;
            background-color: $color-base2;
        }
        
        &05{
            padding-left:15px;
            padding-right:15px;
            height:$in-ho;
            background-color: $color-base2;
        }

        &06{
            padding-left:10px;
            padding-right:10px;
            height:$in-ho;
            background-color: $color-base2;
        }
        
        &07{
            height:$in-ho;
            vertical-align: top;
        }




    }

    &select01{
        height:28px;
        line-height:28px;
        > .v-input__control{min-height: 28px !important;}
    }

    &select02{
        height:$in-ho;
        line-height:$in-ho;
        padding-left:15px;
        padding-right:15px;
        border:1px solid $color-border01;
        background-color: $color-base2;
        vertical-align: top;
        @extend .U_ft_sz06;
        padding-right:40px;
        background-size: 20px;
        background-position: calc( 100% - 5px ) 8px;
    }

    &input01{
        height:$in-ho;
        line-height:$in-ho;
        padding-left:15px;
        padding-right:15px;
        border:1px solid $color-border01;
        background-color: $color-base2;
        @extend .U_ft_sz06;
    }

    &mg_wd_ct{margin-left:auto;margin-right:auto}
    &mg_ht_ct{margin-top:auto;margin-bottom:auto}

    &clear:after{content:"";clear:both;display:block}

    

    &ov_{
        &hd{overflow: hidden;}
        &at{overflow: auto;}
    }

    &ct_{
        &box{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            display: table;
        }

        &wrap{
            display: table-cell;
            width:100%;
            height:100%;
            vertical-align: middle;
            text-align: center;
        }

        &contnet{
            background:$color-base;
            @extend .U_mg_wd_ct;
            @extend .U_wrap; 
        }
    }

    &bg{
        &01{background-color: $color-base;}
    }


    &gd_bg{
        &01{background-image: linear-gradient( 90deg , $color-theme01 0%, $color-theme02 25%, $color-theme03 100%)!important;}
        &02{background-image: linear-gradient( 320deg , $color-theme01 0%, $color-theme02 25%, $color-theme03 100%)!important;}
    }

    &gd_ft{
        &01{ @include U_gd_ft($color-mask2,$color-theme05) }
    }

    &wrap{max-width:1024px}
    &wrap2{max-width:768px}

    &table02{
        width: 100%;
        tr > *{padding:5px 10px}
        tr > *:nth-child(odd){background:red}
        tr > *:nth-child(even){background:green}
    }
    
    &bd_cate01{
        display:inline-block;vertical-align: bottom;
        @extend .U_clear, .U_ft_sz07;
        > * {float:left}
        > dt{
            padding-right:10px;
            border-right:1px solid $color-border01;
            margin-right:10px;
            margin-left:30px;
            @include xs{
                padding-right:5px;
                margin-right :5px;
                margin-left  :5px;
            }
        }
        > dt:first-child{margin-left:0}
        > dd{ color:$color-complementary04}
    }

    &modal{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        vertical-align: middle;
        display: table;
        top:0;
        left:0;

        &_wrap {
            display: table-cell;
            width:100%;
            height:100%;
            vertical-align: middle;
            text-align: center;
        }

        &_content{
            background:$color-base;
            @extend .U_mg_wd_ct;
        }
    }

    &tooltip{
        position:relative;display:inline-block;font-size:0.8rem;vertical-align:top;
        &_con{position: absolute;left:0;top:calc( 100% - 1px );width:188px;border:1px solid $color-border01;background:$color-base;z-index:90}
        ul,li{padding:0}
        li{list-style: none;width:100%}
        button{padding:0 10px;width:100%;text-align: left;}
        button:hover{background:$color-base2}
    }

    &table01{width:100%;border-collapse: collapse;letter-spacing: -1px;
        th{background:$color-theme03;color:$color-font06;font-weight: 500;padding-top:5px;padding-bottom:5px;}
        td{border-bottom:1px solid $color-border01;padding-bottom:7px;padding-top:7px}
    }

    &page01{
        ul{display:inline-block}
        li{display:inline-block;vertical-align: top;width:24px;height:24px;position: relative;}
        button{width:100%;height:100%;vertical-align: top;}
        .on button{border: 1px solid $color-border01;font-weight: 500;}
        .start, .end{overflow: hidden;}
        .start i, .end i {position:absolute;top:0}
        .start i:first-child, .end i:first-child {left:-3px}
        .start i:last-child, .end i:last-child {right:-3px}
    }
    
    &{
        @include common_setting;
    }

}

/*
.M, .TM{
    @include mb{
        &_{
            @include common_setting;
        }
    }
}

.TAB, .TM, .PT{
    @include tab{
        &_{
            @include common_setting;
        }
    }
}


.PC, .PT {
    @include pc{
        &_{
            @include common_setting;
        }
    }
}
*/

/*=========== defaulte Start*/

.container{max-width:100% !important;min-width: 310px !important;}
.v-navigation-drawer{
  border-right: 1px solid #ddd;
  .v-list{padding: 0;}
}
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){box-shadow: none;}

/* gnb setting */
.U-dep1{position:relative;width:100%}
.U-dep2{
  .btn{position:absolute;left:185px;top:0;z-index:99;}
  .v-list{display:none}
  .theme--light.v-btn.v-btn--has-bg{background: none!important;box-shadow:0 0 0}

}
.v-list-item--active+.U-dep2 , .U-dep1-on .U-dep2{
  .v-list{display:block}
  .btn{transform: rotate(180deg);}
}
.U-dep2 .v-list-item__content{padding-left:70px}

/* hd titile */
.logo_tit{
  @extend .U_ft_sz04;
  font-weight: 500;
}

/* hd gb */
.U_hd {
  @extend .U_gd_bg01;
  * {color:$color-base}
}

/* nav */
.U_gnb{
  //@extend .U_gd_bg02;
  border: 0!important;
  background: $color-frame!important;
  * {color:$color-base!important}
}

/*=========== defaulte end*/



/*override vuetify*/
.v-application--wrap {
    min-height: auto !important;
}
.theme--light.v-application{background:none!important}
.v-input-ov01{
    .v-text-field__details{display:none !important}
    .v-input__slot{margin-bottom: 0!important}
    .v-text-field.v-text-field--solo .v-input__control{
        min-height: 10px!important;
    }
}
